// Breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;

$color-primary: #124076;
$color-secondary: #ffc374;

$color-black: #2d3436;
$color-grey: #d1d1e9;
$color-white: #fff;
