@use "../../styles/variables" as *;

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media screen and (min-width: $tablet-breakpoint) {
    .cards {
        // display: grid;
        // grid-template-columns: repeat(2, 1fr);
        // grid-template-rows: repeat(3, 30vw);
        // gap: 10px;
        flex-direction: row;
        flex-wrap: wrap;

        .card {
            // width: 350px;
            height: 600px;

            &-info {
                padding: 10px;
                border-radius: 12px;
                width: 400px;
                height: 280px;
            }
        }
    }
}
