@use "../../styles/variables" as *;

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

@media screen and (min-width: $tablet-breakpoint) {
    .cards {
        flex-direction: row;
        flex-wrap: wrap;

        .card {
            height: 600px;

            &-info {
                padding: 10px;
                border-radius: 12px;
                width: 400px;
                height: 280px;
            }
        }
    }
}
