@use "../../styles/variables" as *;

.navbar-container {
    width: 100%;
    padding: 20px;
    // background-color: tomato;
    background-color: $color-primary;
    color: $color-light-gray;
}

@media screen and (min-width: 768px) {
    .navbar-container {
        width: 20%;
        // TODO: TBC...
        height: 400vh;
    }
}
