@use "../../styles/variables" as *;

.navbar-container {
    width: 100%;
    padding: 20px;
    background-color: $color-secondary;
    // color: $color-light-gray;
    color: $color-black;

    .navbar-logo {
        font-size: 28px;
    }

    .checkbox-container {
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 10px;
    }
}

@media screen and (min-width: 768px) {
    .navbar-container {
        width: 20%;
        // TODO: TBC...
        height: 400vh;
    }
}
