@use "../../styles/variables" as *;

.navbar-container {
    width: 100%;
    padding: 20px;
    background-color: tomato;
    // background-color: $color-primary;
    // color: $color-white;
    // height: 100vh;
}

@media screen and (min-width: 768px) {
    .navbar-container {
        width: 20%;
        height: 200vh;
    }
}
