@use "../../styles/variables" as *;

.beer-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: $color-light-gray;
    padding: 20px;
    background-color: $color-primary;
    background-image: url("../../assets/wave.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__image {
        width: 100%;
        height: 350px;
        object-fit: contain;
        border-radius: 12px;
        padding: 50px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;

        background-color: $color-primary;
        padding: 20px;
        border-radius: 22px;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
            rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
            rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
            rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
            rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
            rgba(0, 0, 0, 0.09) 0px 32px 16px;
        margin-bottom: 20px;

        .card__title {
            color: $color-secondary;
            font-family: "Edu NSW ACT Foundation", cursive;
            margin-bottom: 10px;
        }

        .card__tagline {
            color: $color-tertiary;
            font-style: italic;
            border-bottom: 3px solid $color-secondary;
            margin-top: 10px;
        }

        .card__description {
            margin-bottom: 10px;
        }

        .highlight {
            display: inline-block;
            margin-top: 10px;
            color: $color-tertiary;
            border-bottom: 3px solid $color-secondary;
        }
    }
}

@media screen and (min-width: $tablet-breakpoint) {
    .beer-info {
        padding: 85px;
        height: 120vh;

        &__card {
            padding: 22px;
        }
    }
}

@media screen and (min-width: $desktop-breakpoint) {
    .beer-info {
        flex-direction: row;
        height: 100vh;

        &__image {
            width: 100%;
            height: 550px;
            object-fit: contain;
            border-radius: 12px;
            padding: 50px;
        }

        &__card {
            padding: 22px;
        }
    }
}
