@use "../../styles/variables" as *;

.beer-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: $color-light-gray;
    background-color: $color-secondary;
    padding: 20px;

    &__image {
        width: 100%;
        height: 350px;
        object-fit: contain;
        border-radius: 12px;
        padding: 50px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;

        background-color: $color-primary;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 4px 4px 4px rgba($color: $color-black, $alpha: 0.6);
        margin-bottom: 20px;

        .card__title {
            color: $color-secondary;
            font-family: "Edu NSW ACT Foundation", cursive;
            margin-bottom: 10px;
        }

        .card__tagline {
            color: $color-tertiary;
            font-style: italic;
            border-bottom: 3px solid $color-secondary;
            margin-top: 10px;
        }

        .card__description {
            margin-bottom: 10px;
        }

        .highlight {
            display: inline-block;
            margin-top: 10px;
            color: $color-tertiary;
            border-bottom: 3px solid $color-secondary;
        }
    }
}

@media screen and (min-width: $tablet-breakpoint) {
    .beer-info {
        padding: 85px;
        height: 120vh;

        &__card {
            padding: 22px;
        }
    }
}

@media screen and (min-width: $desktop-breakpoint) {
    .beer-info {
        flex-direction: row;
        height: 100vh;

        &__image {
            width: 100%;
            height: 550px;
            object-fit: contain;
            border-radius: 12px;
            padding: 50px;
        }

        &__card {
            padding: 22px;
        }
    }
}
